<div id="carrie" class="container left">
    <div class="content">
      <h2>1974 - Carrie</h2>
      <p>Carrie is a horror novel by American author Stephen King. It was his first published novel, released on April 5, 1974, with a first print-run of 30,000 copies. Set primarily in the then-future year of 1979, it revolves around the eponymous Carrie White, a friendless, bullied high-school.<a href="https://en.wikipedia.org/wiki/Carrie_(novel)">more...</a></p>
    </div>
  </div>
  <div class="comic-container comic-right">
    <div class="comic-content">
      <img src="https://gramener.com/comicgen/v1/comic?name=priya&angle=sitting&emotion=blush&pose=sittingatdesk&box=&boxcolor=%23000000&boxgap=&mirror=" alt="Girl in a jacket" width="200" height="200">
      <img src="https://gramener.com/comicgen/v1/comic?name=speechbubble&text=It%27s%20a%20great%20morning%21&width=200&height=150&align=center&font-family=Architects+Daughter&font-size=26&font-weight=normal&pointerx=-27&pointery=35&padding=5&fill=%23ffffff&line-height=1&x=5&y=0&scale=0.8&rough=1.8&mirror=&ext=png" alt="Girl in a jacket" width="200" height="200">
      <!-- <comic-gen name="ethan" angle="side" emotion="wink" pose="normal" ext="svg" height="20px"></comic-gen> -->
    </div>
  </div>