<div id="carrie" class="container left">
    <div class="content">
      <h2>1974 - Carrie</h2>
      <p>Carrie is a horror novel by American author Stephen King. It was his first published novel, released on April 5, 1974, with a first print-run of 30,000 copies. Set primarily in the then-future year of 1979, it revolves around the eponymous Carrie White, a friendless, bullied high-school.<a href="https://en.wikipedia.org/wiki/Carrie_(novel)">more...</a></p>
    </div>
  </div>
  <div class="comic-container comic-right">
    <div class="comic-panel comic-content">
      <!-- Slideshow container -->
      <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top">And this is Dey, my co-star on this strip.</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="dee" angle="straight" emotion="smilehappy" pose="pointingright" x="-120"></g>
              <g class="comicgen" name="dey" angle="straight" emotion="smile" pose="handsinpocket" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 1</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top">And this is Dey, my co-star on this strip.</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="aryan" emotion="loudcry" pose="handsfolded" x="-120"></g>
              <g class="comicgen" name="bean" angle="straight" emotion="blush" pose="superperfect" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 2</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top" id="lwsc3">And this is Dey, my co-star on this strip.</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="biden" emotion="laugh" pose="holdinglaptop" x="-120"></g>
              <g class="comicgen" name="ethan" angle="straight" emotion="neutral" pose="holdingbook" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 3</div>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        <button id="btnComicBook" title="Comic Book" class="btn"><i class="fa-regular fa-eye"></i></button>
        <button id="btnNFT" title="Deploy NFT" class="btn "><i class="fa-brands fa-hive"></i></button>
        <button id="btnWhatsUp" title="Analyze" class="btn"><i class="far fa-face-smile"></i></button>
        <input type="text" name="emotion" placeholder="chat with biden!" maxlength="25" id="txtemotion"/>
        <comic-text></comic-text>
    </div>
  </div>