<div id="carrie" class="container left">
    <div class="content">
      <h2>1974 - Carrie</h2>
      <p>Carrie is a horror novel by American author Stephen King. It was his first published novel, released on April 5, 1974, with a first print-run of 30,000 copies. Set primarily in the then-future year of 1979, it revolves around the eponymous Carrie White, a friendless, bullied high-school.<a href="https://en.wikipedia.org/wiki/Carrie_(novel)">more...</a></p>
    </div>
  </div>
  <div class="comic-container comic-right">
    <div class="comic-panel comic-content">
      <!-- Slideshow container -->
      <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top">I want to become an author!</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="deynuovo" angle="side" emotion="excited" pose="handsfolded" x="-120"></g>
              <g class="comicgen" name="priya" angle="straight" emotion="neutral" pose="holdingcoffee" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 1</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top">of course why not? I like horror genre...</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="priya" angle="straight" emotion="curious" pose="holdingcoffee" x="-140"></g>
              <g class="comicgen" name="deynuovo" angle="side" emotion="hmm" pose="pointingright" x="60"></g>
            </svg>
          </div>
          <div class="text">Scene - 2</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top" id="lwsc3">Start with Stephen king's book "Carrie"</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="priya" angle="straight" emotion="neutral" pose="holdingcoffee" x="-120"></g>
              <g class="comicgen" name="deynuovo" angle="side" emotion="excited" pose="thumbsup" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 3</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top" id="lwsc3">ref. Mr. King's book, lets write something</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="deynuovo" angle="sitting" emotion="dozing" pose="sittingatdesk"
                mirror="mirror" x="-120"></g>
              <g class="comicgen" name="ava" emotion="readinglookingdown" pose="holdingbook" mirror="mirror" x="150">
              </g>
            </svg>
          </div>
          <div class="text">Scene - 4</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top" id="lwsc3">Fairy, Ava appears to help Brad!</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="ava" emotion="wink" pose="holdingbook" mirror="mirror" x="-120"></g>
              <g class="comicgen" name="deynuovo" angle="sitting" emotion="dozing" pose="sittingatdesk"
                mirror="mirror" x="150"></g>
            </svg>
          </div>
          <div class="text">Scene - 5</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">6 / 6</div>
          <div class="comic-panel comic-content">
            <div class="comic-caption-top" id="lwsc3">Once upon a time, there was a cave!</div>
            <svg width="300" height="200" viewBox="0 0 500 600">
              <g class="comicgen" name="ava" emotion="yuhoo" pose="superperfect" x="-120"></g>
              <g class="comicgen" name="deynuovo" angle="sitting" emotion="surprised" pose="sittingatdesk"
                mirror="mirror" x="40"></g>
            </svg>
          </div>
          <div class="text">Scene - 6</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
      </div>
      <button id="btnComicBook" title="Comic Book" class="btn"><i class="fa-regular fa-eye"></i></button>
      <!-- <button id="btnNFT" title="Deploy NFT" class="btn "><i class="fa-brands fa-hive"></i></button>-->
      <button id="btnWhatsUp" title="Analyze" class="btn"><i class="far fa-face-smile"></i></button>
      <input type="text" name="emotion" placeholder="chat with Brad!" maxlength="25" id="txtemotion" />
      <comic-text></comic-text> 
    </div>
  </div>