<article class="comic-book">
    <div class="comic-book-panel">
      <p class="text top-left">Suddenly...</p>
      <p class="text bottom-right">...something amazing happened</p>
      <svg width="300" height="200" viewBox="0 0 500 600">
        <g class="comicgen" name="dee" angle="straight" emotion="smilehappy" pose="pointingright" x="-120"></g>
        <g class="comicgen" name="dey" angle="straight" emotion="smile" pose="handsinpocket" x="150"></g>
      </svg>
    </div>
    <div class="comic-book-panel">
      <p class="text top-left">Try resizing...</p>
      <p class="text bottom-right">...it's responsive</p>
      <svg width="300" height="200" viewBox="0 0 500 600">
        <g class="comicgen" name="aryan" emotion="loudcry" pose="handsfolded" x="-120"></g>
        <g class="comicgen" name="bean" angle="straight" emotion="blush" pose="superperfect" x="150"></g>
      </svg>
    </div>
    <div class="comic-book-panel">
      <p class="speech">A speech bubble</p>
      <svg width="300" height="200" viewBox="0 0 500 600">
        <g class="comicgen" name="biden" emotion="laugh" pose="holdinglaptop" x="-120"></g>
        <g class="comicgen" name="ethan" angle="straight" emotion="neutral" pose="holdingbook" x="150"></g>
      </svg>
      <p class="text bottom-right">TO BE CONTINUED...</p>
    </div>
    <!-- <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel">
      <p class="text bottom-right">THE END</p>
    </div> -->
  </article>