<div class="comic-container {{ comic_side }}">
  <div class="comic-content">
    <div class="comic-panel comic-content">
      <div class="comic-caption-top">And this is Dey, my co-star on this strip.</div>
      <svg role="img" aria-labelledby="salems-lot-comic-title" width="300" height="200" viewBox="0 0 500 600">
        <title id="salems-lot-comic-title">One character laughs with a laptop while another holds a book</title>
        <g class="comicgen" name="biden" emotion="laugh" pose="holdinglaptop" x="-120"></g>
        <g class="comicgen" name="ethan" angle="straight" emotion="neutral" pose="holdingbook" x="150"></g>
      </svg>
    </div>
  </div>
</div>
