<article class="comic-book">
    <div class="comic-book-panel">
      <p class="text top-left">Suddenly...</p>
      <p class="text bottom-right">...something amazing happened</p>
    </div>
    <div class="comic-book-panel">
      <p class="text top-left">Try resizing...</p>
      <p class="text bottom-right">...it's responsive</p>
    </div>
    <div class="comic-book-panel">
      <p class="speech">A speech bubble</p>
    </div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel"></div>
    <div class="comic-book-panel">
      <p class="text bottom-right">THE END</p>
    </div>
  </article>