<div class="comic-container {{ comic_side }}">
  <div class="comic-panel comic-content">
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">I want to become an author!</div>
          <svg role="img" aria-labelledby="carrie-scene-1-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-1-title">Brad stands excited beside a friend holding coffee</title>
            <g class="comicgen" name="deynuovo" angle="side" emotion="excited" pose="handsfolded" x="-120"></g>
            <g class="comicgen" name="priya" angle="straight" emotion="neutral" pose="holdingcoffee" x="150"></g>
          </svg>
        </div>
        <div class="text">Scene - 1</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">of course why not? I like horror genre...</div>
          <svg role="img" aria-labelledby="carrie-scene-2-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-2-title">A curious friend with coffee talks with a thoughtful Brad</title>
            <g class="comicgen" name="priya" angle="straight" emotion="curious" pose="holdingcoffee" x="-140"></g>
            <g class="comicgen" name="deynuovo" angle="side" emotion="hmm" pose="pointingright" x="60"></g>
          </svg>
        </div>
        <div class="text">Scene - 2</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">Start with Stephen king's book "Carrie"</div>
          <svg role="img" aria-labelledby="carrie-scene-3-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-3-title">Brad gives a thumbs up beside a friend holding coffee</title>
            <g class="comicgen" name="priya" angle="straight" emotion="neutral" pose="holdingcoffee" x="-120"></g>
            <g class="comicgen" name="deynuovo" angle="side" emotion="excited" pose="thumbsup" x="150"></g>
          </svg>
        </div>
        <div class="text">Scene - 3</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">ref. Mr. King's book, lets write something</div>
          <svg role="img" aria-labelledby="carrie-scene-4-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-4-title">Brad dozes at a desk while Ava reads a book</title>
            <g class="comicgen" name="deynuovo" angle="sitting" emotion="dozing" pose="sittingatdesk" mirror="mirror" x="-120"></g>
            <g class="comicgen" name="ava" emotion="readinglookingdown" pose="holdingbook" mirror="mirror" x="150"></g>
          </svg>
        </div>
        <div class="text">Scene - 4</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">Fairy, Ava appears to help Brad!</div>
          <svg role="img" aria-labelledby="carrie-scene-5-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-5-title">Ava winks with a book while Brad dozes at his desk</title>
            <g class="comicgen" name="ava" emotion="wink" pose="holdingbook" mirror="mirror" x="-120"></g>
            <g class="comicgen" name="deynuovo" angle="sitting" emotion="dozing" pose="sittingatdesk" mirror="mirror" x="150"></g>
          </svg>
        </div>
        <div class="text">Scene - 5</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <div class="comic-panel comic-content">
          <div class="comic-caption-top">Once upon a time, there was a cave!</div>
          <svg role="img" aria-labelledby="carrie-scene-6-title" width="300" height="200" viewBox="0 0 500 600">
            <title id="carrie-scene-6-title">Ava cheers while a surprised Brad sits at his desk</title>
            <g class="comicgen" name="ava" emotion="yuhoo" pose="superperfect" x="-120"></g>
            <g class="comicgen" name="deynuovo" angle="sitting" emotion="surprised" pose="sittingatdesk" mirror="mirror" x="40"></g>
          </svg>
        </div>
        <div class="text">Scene - 6</div>
      </div>

      <button type="button" class="prev" aria-label="Previous scene">&#10094;</button>
      <button type="button" class="next" aria-label="Next scene">&#10095;</button>
    </div>

    <div class="slide-dots">
      <button type="button" class="dot" aria-label="Show scene 1"></button>
      <button type="button" class="dot" aria-label="Show scene 2"></button>
      <button type="button" class="dot" aria-label="Show scene 3"></button>
      <button type="button" class="dot" aria-label="Show scene 4"></button>
      <button type="button" class="dot" aria-label="Show scene 5"></button>
      <button type="button" class="dot" aria-label="Show scene 6"></button>
    </div>
    <button id="btnComicBook" type="button" class="btn" title="Comic book" aria-label="Open the comic book">
      <i class="fa-regular fa-eye" aria-hidden="true"></i>
    </button>
  </div>
</div>
