<div class="comic-container {{ comic_side }}">
  <div class="comic-panel comic-content">
    <div class="comic-caption-top">Hi am Dee, thinking...</div>
    <svg role="img" aria-labelledby="shining-comic-title" width="300" height="200">
      <title id="shining-comic-title">Dee points ahead while Dey stands with hands in pockets</title>
      <g class="comicgen" name="dee" angle="straight" emotion="smilehappy" pose="pointingright" x="160" y="0" scale="0.88" width="300" height="200" mirror="1"></g>
      <g class="comicgen" name="dey" angle="straight" emotion="smile" pose="handsinpocket" x="-120" y="10" scale="0.88" width="300" height="200"></g>
    </svg>
  </div>
</div>
