<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
    <link rel="icon" href="{{ '/book-reader-solid.svg' | relative_url }}" type="image/svg+xml" sizes="16x16">
    <link rel="stylesheet" href="{{ '/assets/vendor/comicgen/comicgen.min.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/comicmodal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/comiclayout.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/comic-never-flinch.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/comic-the-stand.css' | relative_url }}">
</head>
