<div class="container right">
    <div class="content">
      <h2>1975 - Salem's Lot</h2>
      <p>'Salem's Lot is a 1975 horror novel by American author Stephen King. It was his second published novel. The story involves a writer named Ben Mears who returns to the town of Jerusalem's Lot in Maine, where he lived from the age of five through nine,</p>
    </div>
  </div>
  <div class="comic-container comic-left">
    <div class="comic-content">
      <img src="https://gramener.com/comicgen/v1/comic?name=dee&angle=sitting&emotion=afraid&pose=sittingatdesk&box=&boxcolor=%23000000&boxgap=&mirror=" alt="Girl in a jacket" width="200" height="200">
      <img src="https://gramener.com/comicgen/v1/comic?name=speechbubble&text=It%27s%20a%20great%20morning%21&width=200&height=150&align=center&font-family=Architects+Daughter&font-size=26&font-weight=normal&pointerx=-27&pointery=35&padding=5&fill=%23ffffff&line-height=1&x=5&y=0&scale=0.8&rough=1.8&mirror=&ext=png" alt="Girl in a jacket" width="200" height="200">
      <!-- <comic-gen name="ethan" angle="side" emotion="wink" pose="normal" ext="svg" height="20px"></comic-gen> -->
    </div>
</div>