<div id="salem_s_lot" class="container right">
    <div class="content">
      <h2>1975 - Salem's Lot</h2>
      <p>'Salem's Lot is a 1975 horror novel by American author Stephen King. It was his second published novel. The story involves a writer named Ben Mears who returns to the town of Jerusalem's Lot in Maine, where he lived from the age of five through nine,</p>
    </div>
  </div>
  <div class="comic-panel comic-content">
    <div class="comic-caption-top">And this is Dey, my co-star on this strip.</div>
    <svg width="300" height="200" viewBox="0 0 500 600">
      <g class="comicgen" name="dee" angle="straight" emotion="smilehappy" pose="pointingright" x="-120"></g>
      <g class="comicgen" name="dey" angle="straight" emotion="smile" pose="handsinpocket" x="150"></g>
    </svg>
  </div>
