<div id="theshining" class="container left">
    <div class="content">
      <h2>1977 - The Shining</h2>
      <p>The Shining is a 1977 horror novel by American author Stephen King. It is King's third published novel and first hardback bestseller; its success firmly established King as a preeminent author in the horror genre.</p>
    </div>
  </div>
  <div class="comic-container comic-right">
    <div class="comic-panel comic-content">
      <div class="comic-caption-top">Hi am Dee, thinking...</div>
      <svg width="300" height="200">
        <g class="comicgen" name="dee" angle="straight" emotion="smilehappy" pose="pointingright" x="160" y="0" scale="0.88" width="300" height="200" mirror="1"></g>
        <g class="comicgen" name="dey" angle="straight" emotion="smile" pose="handsinpocket" x="-120" y="10" scale="0.88" width="300" height="200"></g>
      </svg>
    </div>
  </div>