<div id="thewindthroughthekeyhole" class="container right">
    <div class="content">
      <h2>2012 - The Dark Tower: The Wind Through the Keyhole</h2>
      <p>The Dark Tower: The Wind Through the Keyhole is a fantasy novel by American writer Stephen King. As part of The Dark Tower series, it is the eighth novel, but it is set chronologically between volumes four and five. First mentioned by King in 2009, after the controversial ending of the seventh novel in 2004, the book was officially announced on the author's official site on March 10, 2011.</p>
    </div>
  </div>