<section class="timeline-section" aria-labelledby="page-title">
  <div id="timeline" class="timeline">
    {% assign books = site.data.books | sort: "date" %}
    {% for book in books %}
      {% assign side_index = forloop.index0 | modulo: 2 %}
      {% if side_index == 0 %}
        {% assign side = "left" %}
        {% assign comic_side = "comic-right" %}
      {% else %}
        {% assign side = "right" %}
        {% assign comic_side = "comic-left" %}
      {% endif %}
      <div id="{{ book.id }}" class="container {{ side }}">
        <div class="content">
          <h2>{{ book.year }} - {{ book.title }}</h2>
          <p>{{ book.description }} <a href="{{ book.source }}">more...</a></p>
        </div>
      </div>
      {% if book.comic == "carrie" %}
        {% include comic-carrie.html %}
      {% elsif book.comic == "salems-lot" %}
        {% include comic-salems-lot.html %}
      {% elsif book.comic == "shining" %}
        {% include comic-shining.html %}
      {% endif %}
    {% endfor %}
    {% include comicmodal.html %}
  </div>
</section>
